<!-- Daniel look here -->
<!--<link rel="stylesheet" type="text/css" href="css/solarized-dark.css">-->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

$if(titleblock)$
$titleblock$
$endif$

$for(header-includes)$
$header-includes$
$endfor$

$for(include-before)$
$include-before$
$endfor$

$if(toc)$
$table-of-contents$
$endif$

$body$

$for(include-after)$
$include-after$
$endfor$


